@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;900&display=swap');
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body {
  background-color:   #292d3e;
  color: black;
}


/*****************************************************  MAIN PAGE    ***********************************************************************/
/* change height for larger screens */
.main{
  background-color:  #edf5e0;
  height: 65vh;
  margin: 0px;
  padding-top: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.main-heading{
  margin: 0px;
  font-size: 96px;
  font-family: 'Mulish', sans-serif;
  color:#667eea
}

.main-content {
  border-left: solid 4px #667eea;
  padding-left:.5rem;
}
.main-content > p{
  font-family: 'Mulish', sans-serif;
  margin: 8px;
  font-size: 24px;
}

.main-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 900;
}
.main-buttons > a {
  text-decoration:none ;
  padding: 5px;
  width: 30%;
  text-align: center;
  border-radius: 22px;
}

.login-btn {
  background-color: #667eea;
  color: white;
}
.register-btn {
  text-decoration-line: none;
  background-color: white;
  color: black;
}

.main-features > h2 {
  color: white;
  text-align: center;
  font-size: 32px;
  font-family: 'Mulish', sans-serif;
  margin-top: 3rem;
}

/*****************************************************  MAIN PAGE    ***********************************************************************/




/*****************************************************  LOGIN PAGE    ***********************************************************************/

.login {
 
  background-color: #77aa77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(230,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
 
}

.login > h1 > span {
  font-size: 32px;
  margin-bottom: 10px;
}

.login-welcome {
  color: #41b883;
  text-align: center;
  margin-bottom: 2.5rem
}
.login-form > button {
  background-color: #41b883;
}




/*****************************************************  LOGIN PAGE    ***********************************************************************/


/* COMMON ATTRIBUTES   OF LOG IN register form */

.login, .register {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left:3.2rem;
  padding-right: 3.2rem;
  font-family: 'Mulish', sans-serif;
  height: 100vh;
}

.register-frame, .login-frame {
  background-color:   #edf5e0;
  height: 50vh;
  border-radius: 20px;
  padding: 1rem;
  padding-top: .3rem;
  box-shadow: 0 0 3px white;
}

.login-form > input, .register-form > input {
  border: 0;
  display: block;
  margin-bottom: 1rem;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  border-radius: 10px;
}

.login-form > button, .register-form > button {
  
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 900;
  font-size: 16px;
  display: block;
  width: 70%;
  padding: 10px;
  margin:  auto;

}

.login-welcome, .register-welcome {
  text-align: center;
  margin-bottom: 2.5rem
}

.login > h1, .register > h1 {
  color: #edf5e0;
  font-size: 48px;
  margin-bottom: .5rem;
  text-align: center;
  letter-spacing: 5px;
}

/* COMMON ATTRIBUTES   OF LOG IN register form */


/*****************************************************  REGISTER PAGE    ***********************************************************************/



.register {
 
  background-color: #d8345f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23d8345f'/%3E%3Cstop offset='1' stop-color='%23f89d76'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23f0c965' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23f0c965' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23f0c965' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23f0c965' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}


.register > h1 > span {
  font-size: 32px;
  margin-bottom: 10px;
}

.register-welcome {
  color: #d8345f;
}


.register-form > button {
  background-color: #d8345f;
  
}




/*****************************************************  REGISTER PAGE    ***********************************************************************/


