@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;900&display=swap');
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body {
  background-color:   #292d3e;
  color: black;
}
/* change height for larger screens */
.main{
  background-color:  #edf5e0;
  height: 65vh;
  margin: 0px;
  padding-top: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;


}

.main-heading{
  margin: 0px;
  font-size: 96px;
  font-family: 'Mulish', sans-serif;

color:#667eea
}

.main-content {
  border-left: solid 4px #667eea;
  padding-left:.5rem;

}
.main-content > p{
  font-family: 'Mulish', sans-serif;
  margin: 8px;
  font-size: 24px;
}

.main-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 900;
}
.main-buttons > a {
  text-decoration:none ;
  padding: 5px;
  width: 30%;
  text-align: center;
  border-radius: 22px;
}

.login-btn {
  background-color: #667eea;
  color: white;
}
.register-btn {
  text-decoration-line: none;
  background-color: white;
  color: black;
}

.main-features > h2 {
  color: white;
  text-align: center;
  font-size: 32px;
  font-family: 'Mulish', sans-serif;
  margin-top: 3rem;
}